@model Alset_Research.DTO.UploadJournalDTO;
@{
    ViewData["Title"] = "Upload your Journal";
    // https://procodeguide.com/programming/file-upload-in-aspnet-core/
}
<br />
<br />
<div class="container text-center">
    <div class="row">
        <h1>Journal Uploader</h1>

        <hr />  <br /><br />
        <label>Upload your Journal File here.</label>
        <form method="post" enctype="multipart/form-data" asp-action="UploadJournals">
            <label for="postedFile" class="form-label">(PDF format file only)</label>
            <br /><br />
            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <input type="file" asp-for="JournalPDF" accept=".pdf" required class="form-control form-control-lg">
            <br />
            <span id="message"></span>
            @if (ViewBag.Message != null)
            {
                @Html.Raw(ViewBag.Message)
            }
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary rounded submit form-control " id="btn_submit">
                    <i class="bi bi-floppy-fill"></i>
                    Upload the Journal
                </button>
            </div>

            <div style="display: inline-block;">
                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-secondary rounded">
                    <i class="bi bi-house-fill"></i>
                    Go back to index
                </a>
                <a href="@Url.Action("Journals", "Home")" class="btn btn-secondary rounded">
                    <i class="bi bi-list"></i>
                    Check Journals
                </a>
            </div>
        </form>
    </div>
</div>
